@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
  <img src="https://images.wallpaperscraft.ru/image/single/kapli_neon_raznotsvetnyj_134090_300x168.jpg" class="card-img-top card-img">
  <div class="card-body">
    <h5 class="card-title">Успешно</h5>
      <p class="card-text p">
          
      </p>
  </div>
</div>